<ng-container *ngIf="!isLoading">
<ul>
  <li *ngFor="let planet of planets">
    <a [routerLink]="['/planets/', planet.id]">
    {{ planet.nom }}
    </a>
    <button class="deletePlanet" (click)="deletePlanete(planet)">
      Supprimer la planète {{ planet.nom }}
    </button>

    <a [routerLink]="['/planets/edit', planet.id]">
      <button>
        Editer la planète {{ planet.nom }}
      </button>
    </a>
  </li>
</ul>
</ng-container>

<ng-container *ngIf="isLoading">
  <h1>Bonjour J'attend le chargement ...</h1>
</ng-container>

<a  id="addPlanetLink" routerLink="/planets/add-planet">Je veux ajouter une planète</a>
