<div *ngIf="isLoading" style="text-align: center">
  <fa-icon [spin]="true" class="fa-10x fa-spin" [icon]="faSpin"></fa-icon>
</div>
{{ isLoading }}
<div *ngIf="!isLoading">
  <p>vehicules works!</p>
  <ul>
    <li *ngFor="let vehicule of vehicules">
      <a [routerLink]="['/vehicules/', vehicule.id]">
        {{ vehicule.nom }}
      </a>
    </li>
  </ul>
</div>

