<p>vehicule-detail works!</p>

<p>Vehicule-detail n° {{ vehicule?.id }}!</p>
<h1>Nom du véhicule: {{ vehicule?.nom }}!</h1>
<p *ngIf="vehicule?.carburant">Véhicule diesel !!!</p><br>
<img src="{{vehicule?.image}}">
