<div class="row mt-5">
  <div class="col-md-12 text-center">
    <a routerLink="/home">
      <button type="button" class="btn btn-primary">
        <fa-icon [icon]="faHome"></fa-icon>
      </button>
    </a>

    <a routerLink="/planets">
      <button type="button" class="btn btn-primary">
        Afficher les planetes
      </button>
    </a>

    <a routerLink="/vehicules">
      <button type="button" class="btn btn-primary">
        Afficher les véhicules
      </button>
    </a>
  </div>
</div>
